body {
  margin: 0;
  font-family: monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (max-width: 349px) {
  .mini-hide {
    display: none !important;
  }

  .mini-show {
    display: block !important;
  }
}

@media (max-width: 324px) {
  .super-mini-hide {
    display: none !important;
  }
}

a {
  text-decoration: none;
}

.loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-link {
  text-decoration: none;
  cursor: pointer;
}
